body{
	background-color:#232323;
	margin: 0;
	text-transform: uppercase;
	
	font-family: 'Peralta', cursive;
	
 }

.square{
	width: 30% ;
	background: purple;
	padding-bottom: 30% ;
	float:left;
	margin:1.66% ;
	border-radius: 15%;
	transition: background 0.6s;
	--webkit-transition: background 0.6s;
	--moz-transition: background 0.6s;


}

#container{
	margin:20px auto;
	max-width: 600px;
}

h1{
	color: white;
	text-align: center;
	background: steelblue;
	margin: 0;
	font-weight: normal;
}

#stripe{
	background: white;
	height: 30px;
	text-align: center;
	color:black;
} 
.selected
{
	color:white;
	background: steelblue;
}
#colorDisplay{
	font-size: 200%;
}
button{
	 border:none;
	 background: none;
     height: 100%;  
	 text-transform: uppercase;
	 color: steelblue;
	 font-weight: 700;
	 letter-spacing: 1px;
     transition: all 0.3s;
     --webkit-transition: background 0.3s;
	--moz-transition: background 0.3s;
	outline: none;
}


button:hover{
	color:white;
	background: steelblue;
}

#message{
	
	display: inline-block;
	width: 20%;
}


